<?xml version="1.0" ?>
<launch>
    <node name="qingzhou_bringup" pkg="qingzhou_bringup" type="qingzhou_bringup" output="screen"  respawn="true"/>
      <param name="mcuserialport" value="/dev/stm32board" type="string"/> 
      <param name="mcubaudrate" value = "115200" type = "int"/> 

      <param name="calibrate_lineSpeed" value = "0"  type = "int"/> 
      <param name="calibrate_angularSpeed" value = "0" type = "int"/> 
      <param name="ticksPerMeter" value = "1941" type = "int"/>      <!-- 1317 1235   -->  <!--一米脉冲数4890,rightticksPerMeter = -4901         3263    1905  1941   1978  -->  
      <param name="ticksPer2PI" value = "4130" type = "int"/>             <!-- 3694 2341 3486     --><!--每圈脉冲数27941,rightticksPerMeter = -16954-->

      <remap from="base_link" to="base_footprint" />
      <remap from="imu" to="raw" />
      
    <node pkg="imu_calib" type="apply_calib" name="apply_calib" output="screen" respawn="false">
      <param name="calib_file" value="$(find imu_calib)/../launch/imu_calib.yaml" />
      <param name="calibrate_gyros" value="true" />
      <remap from="corrected" to="raw/data_raw" />
      <!-- <remap from="base_link" to="base_footprint" /> -->
      <remap from="base_link" to="base_link" />
    </node>

    <!-- <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="true" >
      <param name="fixed_frame" value="odom" />
      <param name="use_mag" value="false" />
      <param name="publish_tf" value="false" />
      <param name="use_magnetic_field_msg" value="true" />  
      <param name="world_frame" value="enu" />
      <remap from="raw/data" to="imu_data" />
    </node> -->

    <node pkg="imu_complementary_filter" type="complementary_filter_node" name="complementary_filter_gain_node" output="screen">
      <param name="do_bias_estimation" value="true"/>
      <param name="do_adaptive_gain" value="true"/>
      <param name="use_mag" value="false"/>
      <param name="gain_acc" value="0.01"/>
      <param name="gain_mag" value="0.01"/>
      <param name="publish_debug_topics" value="false"/>
      <param name="publish_tf" value="false"/>
      <remap from="raw/data" to="imu_data" />
      <remap from="base_link" to="base_link" />
    </node>

    
    <!-- <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen"  respawn="true">
      <remap from="vo" to="odom_rf2o"/>
      <param name="output_frame" value="odomf_first"/>
      <param name="base_footprint_frame" value="base_footprint"/>
      <param name="freq" value="20.0"/>
      <param name="sensor_timeout" value="1.0"/>
      <param name="odom_used" value="flase"/>
      <param name="imu_used" value="true"/>
      <param name="vo_used" value="true"/>
      <param name="gps_used" value="false"/>
      <param name="debug" value="false"/>
      <param name="self_diagnose" value="false"/>
      <param name="publish_tf" value="false"/>
    </node>  -->
  
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find qingzhou_nav)/config/ukf_params.yaml" />
      <remap from="/odometry/filtered" to="/odom_data" />
    </node>

    <!-- <node pkg="robot_localization" type="ukf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find qingzhou_nav)/config/ukf_params copy.yaml" />
      <remap from="/odometry/filtered" to="/odom_data" />
    </node> -->

    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_final" clear_params="true">
        <rosparam command="load" file="$(find qingzhou_nav)/config/ukf_params_2.yaml" />
        <remap from="/odometry/filtered" to="/odom_data" />
    </node> -->
    
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_imulink"
    args="-0.09 0.01 0.12 0.0 0.0  0.0 /base_footprint /imu_link 50" /> -->
 
</launch>
